<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Quizz </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="font-family: 'Montserrat', sans-serif">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>It's Time For Some Quizz</h3>
  <ion-list>
    <ion-row
      *ngFor="let item of ques; let i = index"
      style="display: flex; flex-direction: column"
    >
      <ion-label class="qstyle">{{item.q}}</ion-label>
      <img [src]="item.imgSrc" alt="item.ans" class="imgStyle" style="margin: 5px;" />
      <ion-list>
        <ion-radio-group
          value=""
          (ionChange)="radioGroupChange($event)"
          [id]="item.id"
        >
          <ion-item *ngFor="let op of item.options; let i = index">
            <ion-label
              style="--color: #00a39b; font-size: 20px; font-weight: bold"
              >{{op}}</ion-label
            >
            <ion-radio slot="start" value="{{op}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-row>
    <ion-button
      (click)="presentModal()"
      shape="round"
      style="--background: #fa0"
      color=""
    >
      Check Answer
    </ion-button>
  </ion-list>
</ion-content>
